<!doctype html>
<title>My application</title>
  <h1>Hello, World!</h1>
  <p>Result is Enter an array of elements using yaml format in the first form</p>
  <p>The second form accepts a single value</p>
  <p>The third form accepts an integer value </p>
  <p>The value entered in second and third form execute with value in the fisrt form.</p>
  	   
 Result is {{result}}

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <textarea name="input3" rows="10" cols="30">
	</textarea>
	<br>
        <input type="submit">
  </form>
